@charset "utf-8";

/*ν—¤λ”*/

#header{
    position: relative;
    width:100%;
    height:100px;
    line-height:100px;
    text-align:center;
}
#header h1{
    position:absolute;
    background:url(../images/common/logo.png)no-repeat center center;
    width:160px;
    text-indent:-9999px;
    left:20px;
}
#header h1 a{
	display:block;
}

.gnb{
    display:inline-block;
}
.gnb li{
    float:left;
    padding:0 20px;
}

.gnb li a{}

.util{
    position:absolute;
    right:20px;
    top:0;
}
.util li{
    float:left;
    font-size:12px;
    margin-left:20px;
}
.util li a{}





/*ν‘Έν„°*/
#footer{
    background:#f9f9f9;
    padding:50px 0;
}
.fBox{
    position:relative;
	
}
.fLogo{
	background:url(../images/common/f_logo.png)no-repeat center center;
	text-indent:-9999px;
    float:left;
    margin-right:30px;
	width:84px;
	height:141px;
}
.fText{
	float:left;
}
.fMenu{
    font-size:14px;
    font-weight:500;
	padding-bottom:20px;
}
.fMenu li{
    float:left;
    padding-right:20px;
}

.callCenter{
    font-weight:600;
    padding:15px 0;
}

.fInfo span{
    padding-right:5px;
    font-size:12px;
}

.copy{
    font-size:11px;
    padding-top:5px;
}

.fRight{
	float:right;
}
.fSns{
}
.fSns li{
    float:left;
    margin-left:10px;
}
.fSns li a{}
.fSns li a img{}


select{
	margin-top:50px;
	margin-left:10px;
    width:170px;
    height:30px;
    padding:0 30px; 
    appearance:none;-webkit-appearance:none;
    background:url(../images/common/fBtn.png)no-repeat 80% center;
    border:1px solid #333;
}














